.row {
    flex-direction: row;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.inicio{
    height: 700px;
    width: 100%;
    background-image:url(img/oi.png);
    background-size:cover;
    color: white; 
    font-family: 'Roboto', sans-serif;
                
       }
nav a{
    color: white;
    position: relative;
    top: 100px;
    right: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 2px #000; 
}
#descricao{
    background: rgba(0, 0, 0, 0.5);
    height:120px;
    font-size: 25px;
    position: relative; 
    top: 400px;  
    padding-left: 60px; 
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.inicio-artigo{
    height: 400px;
    width: 100%;
    background-image:url(img/oi.png);
    background-size:cover;
    font-family: 'Roboto', sans-serif;
}
.Horizontal-gallery {
    width: 1520px;
    height: 1320px;
    object-fit: contain;
    float: left;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}
#abastecaseunegocio {    
    color: white;
    top: 10px;
    height: 20px;
    position: relative;
    left: 250px;
    width: 400px;
    text-shadow: 3px 3px 2px #000; 
    font-family: 'Roboto', sans-serif;
}
#abastecaseunegocio h2 { 
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    

 }
.recebaebooks{
    text-align: center;
    margin: 0 auto;
    width: 557px;
    font-family: 'Roboto', sans-serif;
    }
 
  .flex-container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
      }
  .card{       
        border: transparent;
        font-family: 'Roboto', sans-serif;
          }
  .card-textdata{
      color: gray;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
  }
.cardlink{
    height: 400px;
    margin: 2%;
    width: 25%;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* footer */

#content{
    background-color: #ededed;
    height: 200px;
    display: flex;
    flex-wrap:no-wrap;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif; 
  
  }  
  .item{
    height: 100px;  
    width: 345px;
    color: black; 
    margin:5px;
    font-family: 'Roboto', sans-serif;
  }

 .titulo1{
     text-align: center;
 }  

