.row {
    flex-direction: row;
    display: flex;
}
.inicio{
    height: 1320px;
    width: 100%;
    background-image:url(img/oi.png);
    background-size:cover
    
       }
.Horizontal-gallery {
    width: 1520px;
    height: 1320px;
    object-fit: contain;
    float: left;
    position: absolute
}
.abastecaseunegocio {
    
    position: absolute;
    color: white
    text-align: center;
    top: 100px;
    width: 100px;
    line-height: 20px;
    height: 20px;
}
.recebaebook{

    background-color: rgba(0,0,0,0.5);
    color:#fff;
    text-align: center;
    top: 500px;
    width: 250px;
    line-height: 20px;
    height: 30px;
    }
  .Repetio-de-grade-1 {
    width: 1323.2px;
    height: 1151.6px;
    object-fit: contain;  }
  
  .Web-1920-1 {
    width: 1920px;
    height: 3314px;
    background-color: #ffffff;
  }
  .background {
    width: 1364px;
    height: 234px;
    box-shadow: 0 -3px 46px 0 rgba(0, 0, 0, 0.03);
    background-color: #fcfcfc`
}
  .flex-container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline   

  }
  

}

