<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150060744-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-150060744-1');
</script>
    <meta charsert="utf-8" />
    <meta name= "description" content="Confira a entrevista exclusiva com Eduardo Mandel" />
    <meta name="keywords" content="Alimenticio, comerciante, comercio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Abastecendo seu negocio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </style>
  
    </head>
    <body>
        <div class="inicio">
          <nav>
            <ul class="nav justify-content-end">
              <li id="nav-item1">
                <a class="nav-link active" href="/">HOME</a>
              </li>
              <li id="nav-item3">
                <a class="nav-link" href="/ebook">EBOOK</a>
              </li>
            </ul>
          </nav>
          <div id="descricao"> <b>Abasteça seu negócio vem com informações e dicas tecnológicas para você gerir seu negócio com mais efetividade e rapidez. Queremos ajudar você a conhecer as mais novas ferramentas do mercado, as mais modernas soluções e boas práticas. Para que você entregue a melhor experiencia para seu cliente gastando pouco, com os melhores produtos e gerenciando efetivamente seu estoque.</b>
          </div>
        </div>
        <br>
     
        <div class="recebaebooks">
          <h3><b>Receba os nossos e-books :)</b></h3>
          <form action="/leads" method="POST">
            <input type="text" name="name" style="width: 300px" placeholder="Nome"><br>
            <input type="text" name="email" type="email" style="margin-top: 5px; width: 300px" placeholder="Seu email profissional"><br>
            <input type="submit" style="margin-top: 5px;
            width: 300px;
            border-radius: 5px;
            background: #d59b15;
            border: #966e11 1px solid;" value="Enviar">
        </form>
        </div>
      
<div class="conteudo">

  <h2 id="entrevista-com-eduardo-mandel-chef-do-restaurante-taquería-la-sabrosa"><strong>Entrevista com Eduardo Mandel chef do restaurante Taquería La Sabrosa</strong></h2>
​
<p><em>Eduardo, 31 anos, proprietário e chef nos contou sobre sua trajetória e desafios do mercado. Uma entrevista enriquecedora, para você que quer impulsionar seu negócio!</em></p>
​
<p><img src="https://i.imgur.com/X5qvmFS.png" alt="Chef Eduardo Mandel" title=""></p>
​
<p><strong>ASN</strong> - Abasteça seu negócio <br>
 <strong>EM</strong> - Eduardo Mandel</p>
​
<p><strong>ASN</strong>  <strong>- Como começou sua carreira na cozinha?</strong></p>
​
<p><strong>EM</strong> -  Após sair da faculdade de gastronomia em 2007, comecei a carreira totalmente desacreditado com a cozinha e a vida de cozinheiro. Fui trabalhar em um açougue, depois em uma importadora de vinhos e finalmente em uma consultoria de gastronomia especializada em intercâmbio de chefs. Sai e lá para abrir minha própria consultoria - Saperian - me associei a um restaurante - Obá - e anos depois abri outro a Taquería La Sabrosa.</p>
​
<p><strong>ASN</strong> <strong>- Qual seu maior desafio administrando o restaurante e assinando pratos que agreguem experiência aos clientes?</strong></p>
​
<p><strong>EM</strong> - Possuo uma taqueria mexicana com tacos tradicionais. Só isso já traz diversos desafios intrínsecos. No Brasil entendemos que cozinha tex-mex é mexicana e isso é um equívoco. É como falar que churrasco argentino é o mesmo que brasileiro. São próximos, mas bem diferentes. Então muitos clientes entram achando que vão encontrar burritos, fajitas e nachos e temos que convencer eles a provar nossos tacos. <br>
Outro desafio é definir, dentro da infinidade de tacos que existem no México, quais conseguimos fazer aqui e serão apreciados pelos brasileiros. Conhecer somente um dos lados não funciona mas, com mais de 9 anos trabalhando com comida autêntica mexicana, o conhecimento e a experiência já são sólidos o suficiente para guiar as decisões.</p>
​
<p><strong>ASN</strong> <strong>- E como você se organiza para administrar a compra de matéria-prima que abastece seu restaurante?</strong></p>
​
<p><strong>EM</strong>- Tenho uma produção bem organizada e regrada. Trabalho com os mesmos fornecedores chave, especificamente por dificuldade de matéria prima. A grande chave é conseguir formas criativas de diminuir preços sem perder qualidade. A forma mais fácil de reduzir preços é encontrar um fornecedor mais barato. Ao longo dos anos a experiência comprovou que o desafio não é ter o preço mais baixo, mas sim fazer com que esse fornecedor entregue com consistência, dia sim e dia também. <br>
Com os sistemas de contagem dos diferentes itens que temos, fazer as compras se torna algo mais fácil, só sendo necessário calcular o quanto temos e o que precisamos, que hoje já é calculado via computador.</p>
​
<p><img src="https://i.imgur.com/kBmGMPh.jpg" alt="Prato Chef Sandro Mandel" title=""></p>
​
<p><strong>ASN</strong> <strong>- Como é a relação com seus fornecedores? São grandes ou locais?</strong></p>
​
<p><strong>EM</strong>- Tenho fornecedores industriais e fornecedores bem caseiros, locais e de outros estados. Todos os principais fornecedores temos relações comerciais de mais de 2 anos, alguns com relação de mais de 15 anos. Essas relações são sempre pautadas em ajuda mútua, respeito e entendimento do que é possível fazer e o que não é. Não posso exigir de uma senhora com uma produção artesanal de tortillas que ela me entregue, sem aviso prévio, 5 vezes mais tortillas do que peço normalmente. Da mesma forma, se um grande fornecedor me pede ajuda para participar de uma ação de marketing, encontro uma forma de ajudar eles. </p>
​
<p><strong>ASN</strong> <strong>- Quais dicas você tem para dar aqueles que querem trilhar essa carreira?</strong></p>
​
<p><strong>EM</strong> - Entenda quais são as habilidades e competências que você tem e quais não tem. Entenda quais são necessárias para alcançar seus objetivos em vida e tente encontrar como fazer isso.  <br>
Estude muito e aceite que, por mais preparado que você estiver, a vida de um restaurante é extremamente caótica e as coisas muitas vezes saem do planejado. Saber lidar com pressão, stress e dificuldades é essencial para qualquer chef/gerente/empreendedor.</p>
​
<p><strong>ASN</strong> <strong>- As  plataformas digitais otimizam sua rotina como chef e empreendedor?</strong></p>
​
<p><strong>EM</strong> - Sim e não. Muito da rotina diária foi facilitado por plataformas digitais. Fazer pedidos por whatsapp ou e-mail é muito melhor, mais seguro e rápido do que fazer por telefone. Mas existe uma tendência no Brasil a quererem lidar via whatsapp para tudo e isso é péssimo!  <br>
Outra questão ligada as plataformas é a burocratização de processos desnecessários. O que antes se resolvia com um e-mail hoje pode levar a diversos processos eletrônicos. O tempo e esforço gastos em processos desnecessários de fornecedores dos mais diferentes campos é absurdo. </p>
​
<p><strong>Consideração final:</strong></p>
​
<p>Existiam restaurantes antes de inventarem computadores, internet, sistemas de informação. Por mais que esses nos ajudem e muito, é essencial entender como a operação funciona de forma off-line e saber realizar ela. Uma vez isso dominado, as diferentes tecnologias melhoram muito a produtividade dos diferentes trabalhadores do mercado.</p>
​
<p><strong>Conheça o restaurante:</strong> <br>
<em>Taqueria La Sabrosa – Cocina de México</em> <br>
<em>R Augusta 1474 – São Paulo</em> <br>
<em>Domingo a quinta-feira das 12h as 00hrs</em> <br>
<em>Sexta e Sábado das 12h as 01hrs</em></p>
​
<p><strong><em>Assine nosso newsletter e receba mais conteúdos como esse e fique por dentro de tudo sobre o mundo do empreendedorismo, eficiência, redução de custos e das melhores práticas das empresas nacionais e internacionais</em></strong></p>
  

  
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.2.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.2.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>
  </body>
  <footer>
      <section id="content">
        <article class="item"> 
          <img src="img/abasteca_logo.png" width="250px" />
          <h5>www. <b id="laranja">abastecaseunegocio</b>.com.br </h5>    
  
        </article> 
            
        <article class="item"> 
      
      <h4><b>Follow Us</b></h4>
      <p> <img src="img/facebook_logo.png" width="30px" /> <a href="https://www.facebook.com/abastecaseunegocio"> Facebook</a></p>
      <p> <img src="img/Instagram_logo.png" width="30px" /> <a href="https://www.instagram.com/abastecaseunegocio/"> Instagram</a></p>
      
      
      </article>
      
      </section>
    </footer>
</html>

</html>