<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150060744-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-150060744-1');
</script>
    <meta charsert="utf-8" />
    <meta name= "description" content="Entenda com os custos de transporte impactam nos diversos setores, e principalmente no alimentício e alavanque seu comércio. " />
    <meta name="keywords" content="Alimenticio, comerciante, comercio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Abastecendo seu negocio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </style>
  
    </head>
    <body>
        <div class="inicio">
          <nav>
            <ul class="nav justify-content-end">
              <li id="nav-item1">
                <a class="nav-link active" href="/">HOME</a>
              </li>
              <li id="nav-item3">
                <a class="nav-link" href="/ebook">EBOOK</a>
              </li>
            </ul>
          </nav>
          <div id="descricao"> <b>Abasteça seu negócio vem com informações e dicas tecnológicas para você gerir seu negócio com mais efetividade e rapidez. Queremos ajudar você a conhecer as mais novas ferramentas do mercado, as mais modernas soluções e boas práticas. Para que você entregue a melhor experiencia para seu cliente gastando pouco, com os melhores produtos e gerenciando efetivamente seu estoque.</b>
          </div>
        </div>
        <br>
     
        <div class="recebaebooks">
          <h3><b>Receba os nossos e-books :)</b></h3>
          <form action="/leads" method="POST">
            <input type="text" name="name" style="width: 300px" placeholder="Nome"><br>
            <input type="text" name="email" type="email" style="margin-top: 5px; width: 300px" placeholder="Seu email profissional"><br>
            <input type="submit" style="margin-top: 5px;
            width: 300px;
            border-radius: 5px;
            background: #d59b15;
            border: #966e11 1px solid;" value="Enviar">
        </form>
        </div>
      
<div class="conteudo">

  <h2 id="mudanças-na-gestão-e-perspectivas-com-a-digitalização-entrevista-com-ex-executivo-do-gpa-e-carrefour"><strong>Mudanças na gestão e perspectivas com a digitalização entrevista com ex-executivo do GPA e Carrefour</strong></h2>
​
<p><em>Adaptabilidade, objetivo e perspicácia. Palavras que estão relacionadas diretamente com o perfil de qualquer grande empreendedor ou executivo de uma grande empresa. Estar disposto a mudar, ter objetivos claros e perspicácia em suas ações são características fundamentais na vida de qualquer indivíduo que almeja o sucesso.</em></p>
​
<p><strong>Sandro Benelli</strong> é formado em Física pela Universidade Presbiteriana Mackenzie, com especialização na área de negócios pela Insper, FGV e University of Toronto. No início de sua carreira, Sandro sonhava alto na vida acadêmica, sendo monitor de diversas disciplinas na faculdade e com o sonho grande de se destacar no ramo científico, sobretudo na Física, Benelli diversas vezes foi questionado por seus conhecidos pela escolha da carreira que tinha feito.</p>
​
<p>Ainda que o sonho fosse grande, as circunstâncias não ajudavam. Vindo de família carente de recursos e nascendo em um país que não valoriza da maneira devida o mundo científico, Sandro mudou seus pensamentos e objetivos e iniciou sua carreira no mundo corporativo. Á época, em 1984, com o boom tecnológico e com grandes players entrando no mercado de software, Benelli aventurou-se no mundo da tecnologia. Conseguiu cumprir com seus objetivos primários - ganhar dinheiro - mas logo percebeu que não era aquilo que gostaria de levar para a sua vida, assim, iniciando na TIVIT, depois migrando para BASF, Sandro se encontrou no mercado varejista, em 1988. </p>
​
<p>Iniciando sua carreira no Carrefour ainda como Gerente de TI, seus instintos gerenciais e suas habilidades com negociação estavam prestes a serem despertadas. Foi quando em 1997, Sandro passou a ser Gerente de Departamento Mercearia e um ano depois chegou a Diretor de Hipermercado da rede.</p>
​
<p>Sandro conta que pelo modelo do Carrefour ser um modelo descentralizado, seu poder era muito maior, bem como suas responsabilidades. Sua carreira, em uma constante transmutação e seus propósitos de vida sendo alterados dia após dia, Sandro soube naquele momento que o que ele queria de fato era o mercado varejista e de forma íntegra e perceptível, viria a se tornar um grande Executivo.</p>
​
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6tMcv_U8dBgw0YUv_yVJDvmSJ-Q10rQUHxV6x60A8rjCj7i8W" alt="Carrefour" title=""></p>
​
<p><strong>Transformações no mercado</strong></p>
​
<p>Sandro conta que com as transformações que sucederam o mercado varejista, hoje o modelo de gestão é pautado na excelência. O modelo adquirido e colocado em prática pelo Carrefour na década de 80 não condiz mais com os modelos de gerenciamento atuais, uma vez que o mercado tornou-se competitivo e os resultados ainda são e sempre foram a característica esperada por qualquer time de gestão. Ele nos conta que esse modelo descentralizado foi primordial para a construção de sua carreira, uma vez que ele tinha que assumir uma visão panorâmica e empreendedora sobre o negócio. </p>
​
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW654RNFAQoDwucVsr2KDPJQ-9tvqUECrLJWMMON2UMQPxYUu8" alt="Grupo GPA" title=""></p>
​
<p>Após dirigir uma parte do Carrefour, Benelli foi convidado para o Grupo Pão de Açúcar, onde ele diz que foi sua escola de gestão. Diferentemente do Carrefour, o GPA tinha um modelo mais centralizado, sendo de responsabilidade de cada diretor metrificar seus relativos sucessos e desafios. Continuando como Diretor de Hipermercado, mas agora no Extra e depois passando pela direção regional, controladoria, Sandro tinha os alicerces necessários para dirigir a recém aquisição do GPA, em 2003, do Grupo Sendas, como Diretor de operações no estado do RIO. </p>
​
<p><strong>Mudanças no comportamento de gestão</strong></p>
​
<p>Sandro conta que pelos modelos de gestão serem diferentes de empresa para empresa, no Carrefour ainda que fosse centrado no controle dos indicadores, por ser um modelo descentralizado, na ponta você tinha ainda o poder da decisão, podendo tanto colocar como tirar fornecedores de linha, assim, Sandro diz que o grau de liberdade era de 60% a 70%, diferentemente de quando passou para o GPA, onde o modelo por ser muito centralizado o grau de liberdade na ponta pautava-se por 20% a 30%, no máximo.</p>
​
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgiMF6Y4EURxG7GJnJBrsxhetIOwsm-iEgPiRqhPf6i9CLOveT" alt="Torre eiffel" title=""></p>
​
<p><strong>Carreira no exterior e seus desafios</strong></p>
​
<p>Com a experiência adquirida no Brasil e com testes empíricos tendo resultados positivos e significativos, Sandro começou a trilhar sua caminhada fora do Brasil.</p>
​
<p>Em 2007, quando foi enviado pelo Grupo Casino para dirigir o Hypermarché Géant Casino, na França. Sandro diz que por conta das culturas serem distintas, ainda assim o mercado correspondia com a mesma variabilidade competitiva do brasileiro. Assim, iniciando sua jornada no estrangeiro na direção de apenas uma loja, Benelli nos conta que sua experiência foi muito gratificante e engrandecedor, uma vez que sua direção, nesta loja em específico, deu mais lucro do que a média da divisão inteira de Hipermercado. Ele ainda diz que diferente das outras pessoas que são enviadas para o exterior para serem executivas, ele se diferenciou em um quesito: a valorização ao indivíduo e ser humano, em geral. Ao invés de ficar apenas no escritório, Sandro foi a prática e tentou, ao máximo, se conectar com as pessoas que apareciam ao longo do seu trajeto na França.</p>
​
<p>Após a sua vinda novamente ao Brasil, um ano depois, Sandro tornou-se Diretor de Global Sourcing no GPA, Diretor presidente na Multicoisas, Board Member no Lopes Supermercado, conselheiro na Bombril e, por fim, em Luanda, na Angola, CEO da Intermarket.</p>
​
<p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLLOWalIa95pHHL40cz3a_bQxl5P9xgamTnfE46A91cc2kGmHI" alt="Angola" title=""></p>
​
<p><strong>Desafios no mercado angolano</strong></p>
​
<p>Diferente da França e do próprio Brasil, a Angola passa por diversas adversidades, tanto políticas como também econômicas. Tendo uma balança comercial desfavorável, assim importando (comprando) mais do que vendendo (exportando), o planejamento tinha que ser totalmente analítico. </p>
​
<p>Sandro nos conta que pela Angola produzir, localmente, poucos produtos, a decisão de compra tem que ser planejada 6 meses antes, assim levando a uma quantidade maior de estoque e um giro menor, uma vez que o mercado informal é grande e as perspectivas de renda per capita são baixas. Sandro exemplificou em uma experiência que teve lá: Por exemplo, o consumidor final comprou 2 litros de leite, você, mercado, comprou 1000 litros, venderá apenas 300 litros e o resto poderá ficar degradado, uma vez que ficará em estoque.</p>
​
<p><strong>Perspectivas para a digitalização do mercado</strong></p>
​
<p>Quando questionado em como enxergava a digitalização e o surgimento e crescimento do mercado digital no varejo, Sandro foi cético e reticente. Como durante toda conversa, Sandro se demonstrou uma pessoa apaixonada por gente, por relacionamento com o outro, com o indivíduo. Em um dos momentos de nossa conversa, Sandro diz que o modelo do GPA, ainda que fosse centralizado, evidenciava muito o indivíduo, o ser humano que está por trás de toda operação. Sandro também nos contou sobre como as marcas disputam a atenção dos consumidores na prateleira - papo para uma outra hora - e concluiu que quem é o essencial e comanda todo o processo não são os diretores, as marcas e sim, nós consumidores.</p>
​
<p>Quando questionado sobre o investimento feito pelo GPA na startup James, serviço de entrega como Rappi, ele disse que o mercado digital não é muito linear, é teste, teste, erro e acertos, mas que ainda quem comanda é a experiência do usuário final, do consumidor. Ele diz que acredita no mercado digital, mas que ainda assim ninguém vai conseguir tirar do indivíduo a satisfação e prazer que ele sente ao comprar a primeira roupa para seu filho que acabara de nascer, por exemplo.</p>
​
<p>Benelli, exemplificou seu raciocínio da seguinte forma: imagine que você quer comprar seu primeiro carro, por mais que não seja o carro dos sonhos, é uma experiência única que com certeza você gostaria de ver cara a cara, ter a possibilidade de tocar no carro, fazer test-drive e etc., é algo instigante. Agora, quando você vai comprar mais um caminhão para sua frota, pouco importa se você vai ou não até a loja, o que importa é o resultado, assim, a digitalização faz sentido.</p>
​
<p>Sandro diz ainda que não tem como medir o comportamento do consumidor ideal e que tudo é uma jornada do cliente. Ele sintetiza da seguinte maneira: <em>“por exemplo, o mesmo cara que acabou de comprar uma agua no farol porque estava com sede, pode semana que vem comprar o champanhe mais caro na França de frente para Torre Eiffel.”</em></p>
​
<p>Sandro Benelli conclui que acredita que as plataformas não sejam uma finalidade em si e sim um meio, os consumidores que são a real finalidade.</p>
​
<p><strong>LinkedIn Sandro Benelli</strong>: <a href="https://www.linkedin.com/in/sandro-benelli-aa77794/">https://www.linkedin.com/in/sandro-benelli-aa77794/</a></p>
​
<p>Walter Pereira </p>
  
  
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.2.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.2.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>
  </body>
  <footer>
      <section id="content">
        <article class="item"> 
          <img src="img/abasteca_logo.png" width="250px" />
          <h5>www. <b id="laranja">abastecaseunegocio</b>.com.br </h5>    
  
        </article> 
            
        <article class="item"> 
      
      <h4><b>Follow Us</b></h4>
      <p> <img src="img/facebook_logo.png" width="30px" /> <a href="https://www.facebook.com/abastecaseunegocio"> Facebook</a></p>
      <p> <img src="img/Instagram_logo.png" width="30px" /> <a href="https://www.instagram.com/abastecaseunegocio/"> Instagram</a></p>
      
      
      </article>
      
      </section>
    </footer>
</html>

</html>