<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>GESTAO&GASTRONOMIA</title>
    <link rel="stylesheet" type="text/css" href="lp.css" media="screen" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row principal">
        <div class="col-12">
          <nav class="menu">
            <ul class="nav justify-content-end">
              <li id="nav-item1">
                <a class="nav-link active" href="/blog">ACESSE NOSSO BLOG</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-12 logo">
          <img src="img/header-logo.png"/>
        </div>
        <div class="col-12 mouse">
            <img src="img/header-mouse-icon.png"/>
          </div>
      </div>
      <br/>
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-10 ">
            <p>O <strong>1° Encontro de Gestão e Gastronomia</strong> é uma iniciativa do projeto <em>Abasteça seu Negócio</em> que tem por objetivo disseminar as boas práticas e iniciativas do setor alimentício por meio de debates e discussões sobre toda a cadeia produtiva. </p>
            <p>Para esse primeiro encontro trouxemos grandes profissionais da gastronomia, as <strong>chefs Silvia Corbucci; Marga Moreira e o chef Cláudio Rodrigues</strong> para debater empreendedorismo, carreira e perspectivas. </p>
            <p>O evento é voltado para profissionais, estudantes e empreendedores que desejam se atualizar e contribuir com o debate do setor gastronômico no país. </p>
            <p><strong>Inscreva-se agora mesmo! Vagas limitadas!</strong></p>
            <p>Oferecemos certificado para horas complementares.</p>
            <p>*Atrações sujeitas a alterações.</p>
          </div>
      </div>
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-12 convidados">
            <p><b>NOSSOS CONVIDADOS</b></p>
          </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col-3 center">
            <p><img src="img/image-claudio-rodrigues.png"width="100px"/><br/><b>Chef<br/>
              Claudio Rodrigues</b>
            </p>
            <p>Chef Internacional e Patissier<br/>
              Escola brasil sem gruten
            </p>
          </div>
          <div class="col-3 center">
            <p><img src="img/image-marga-moreira.png"width="100px"/><br/><b>Chef<br/>
              Marga Moreira</b>
            </p>
            <p>Chef Patissier<br/>
              Escola brasil sem gruten
            </p>
          </div>
          <div class="col-3 center">
            <p><img src="img/image-silvia-corbucci.png"width="100px"/><br><b>
              Silvia Corbucci</b>
            </p>
            <p>CEO<br/>
              Cozinha Efemera
            </p>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-12 center">
      <div id="sympla-widget-690912"></div>
      <script src="https://www.sympla.com.br/js/sympla.widget-pt.js/690912"></script>
          </div>
        </div>
      <div class="row justify-content-center">
        <div class="col-12 center">
            <a href="https://www.google.com.br/maps/place/Paulus+Faculty+of+Technology+and+Communication/@-23.5875619,-46.64072,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce59877da61c9d:0x18f93f29d11cae17!8m2!3d-23.5875668!4d-46.6385313?hl=en&authuser=0">
          <img class="maps" src="/img/maps.png">
         </a>   
      </div>
      </div>
      <br/>
        <div class="row justify-content-center">
          <div class="col-md-8 col-sm-12">
            <p><b> Local:</b> FAPCOM - R. Maj. Maragliano 191, Vila Mariana<br/>
            <b> Data:</b> 25/10/2019 (sexta-feira)<br/>
            <b> Horário:</b> 19h30 às 21h</p>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
  <footer>
    <section>
      <div class="row">
      <div class="col-12 final">
        <p class="imglogo"> <img src="img/footer-logo.png" width="150px"/>        
          <br/>
          <br/>
          <img src="img/facebook_logo.png" width="30px" /> <a href="https://www.facebook.com/abastecaseunegocio"></a>
          <img src="img/Instagram_logo.png" width="30px" /> <a href="https://www.instagram.com/abastecaseunegocio/"></a>
      </div>
    </section>
  </footer>
</html>